/**Setup*/
/*#region*/
* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

h2 {
  color: #fff;
  text-transform: uppercase;
}
/*#endregion*/

/**Header*/
/*#region*/
header {
  width: 100vw;
  height: 100vh;
  background-image: url(/images/home-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header:after {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #259dd0;
  opacity: 0.2;
  top: 0;
  left: 0;
  display: block;
  content: "";
}

svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vw;
}
/*#endregion*/
