/**Fonts*/
/*#region*/
@font-face {
    font-family: Ubuntu-Mono;
    src: url("./fonts/UbuntuMono/UbuntuMono-Regular.ttf");
}

@font-face {
    font-family: Ubuntu;
    src: url("./fonts/Ubuntu/Ubuntu-Regular.ttf");
}

@font-face {
    font-family: Inter;
    src: url("./fonts/Inter/Inter-Regular.ttf");
}

/*#endregion*/

/**Variables*/
:root {
    --main-bg-color: #252929;
    --second-bg-color: #151513;
    --highlight-color: #e76f51;
    --main-text-color: #fff;
    --second-text-color: #8f8f8f;
}


body{
    background-color: var(--main-bg-color);
}


input,
select {
    font-size: 1vmax;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: #151513;
    color: var(--main-text-color);
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
}

input:focus{
    outline: 2.5px solid var(--highlight-color);
}

input[type=submit] {
    background-color: var(--highlight-color);
    padding: 14px 20px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--second-bg-color);
        border: 2.5px solid var(--highlight-color);
}

div {
    border-radius: 5px;
    background-color: var(--second-bg-color);
    padding: 20px;
}