/**Fonts*/
/*#region*/
@font-face {
  font-family: Ubuntu-Mono;
  src: url("./fonts/UbuntuMono/UbuntuMono-Regular.ttf");
}

@font-face {
  font-family: Ubuntu;
  src: url("./fonts/Ubuntu/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: Inter;
  src: url("./fonts/Inter/Inter-Regular.ttf");
}
/*#endregion*/

/**Variables*/
:root {
  --main-bg-color: #252929;
  --second-bg-color: #151513;
  --highlight-color: #e76f51;
  --main-text-color: #fff;
  --second-text-color: #8f8f8f;
}

/**Setup*/
/*#region*/
/**Removing border, margin and fixing box-sizing*/
* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

/**Removing scroll*/
::-webkit-scrollbar {
  display: none;
}

/**Smooth scrolling and background color*/
html {
  scroll-behavior: smooth;
  background-color: var(--main-bg-color);
}

/**Article color styling*/
article {
  min-width: 100vw;
  background-color: var(--main-bg-color);
}

article:nth-child(even) {
  background-color: var(--second-bg-color);
}

/**Header styling*/
h1,
h2 {
  font-family: Ubuntu-Mono, monospace;
  font-size: 13vmax;
  font-weight: bold;
  color: var(--main-text-color);
  text-transform: uppercase;
}

/**Sub text styling*/
h3 {
  font-family: Inter, monospace;
  font-size: 2vmax;
  font-weight: lighter;
  color: var(--main-text-color);
  text-transform: uppercase;
}

/**Link styling*/
a {
  color: var(--second-text-color);
}

/**Changing underline color on hover */
a:hover {
  text-decoration-color: var(--main-text-color);
}

/**Main text styling*/
p {
  font-family: Inter;
  font-size: 1.5vmax;
  color: var(--second-text-color);
}
/*#endregion*/

/**Scroll icon*/
/*#region*/
.scroll-icon {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 95vh;
  height: 5vw;
  width: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-icon svg {
  position: relative;
  width: 100%;
  height: 100%;
  fill: var(--highlight-color);
}
/*#endregion*/

/**.header Section Header*/
/*#region*/
.header {
  display: flex;
  align-items: center;
  font-size: 3vmax;
}

.header span {
  width: 1vmax;
  height: 0.3vmax;
  margin-right: 0.2vw;
  background-color: var(--main-text-color);
}

.header h4 {
  font-family: Ubuntu-Mono, monospace;
  font-weight: bold;
  color: var(--main-text-color);
  text-transform: uppercase;
}

/**Header svg links*/
.header a {
  margin-left: 1vmax;
  width: 3vmax;
  height: 3vmax;
}

.header a svg {
  width: 100%;
  height: 100%;
  fill: var(--main-text-color);
}

.header a:hover svg {
  fill: var(--highlight-color);
}
/*#endregion*/

/**Welcome header*/
/*#region*/
/**Header background*/
#welcome-header {
  max-width: 100vw;
  height: 100vh;
  background-image: url(images/welcome-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/**Shaped edge of header*/
.edge {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20vh;
  z-index: 2;
}

polygon {
  fill: var(--main-bg-color);
}

.border {
  fill: var(--highlight-color);
}

/**Images tint*/
#welcome-header:after {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #2a9d8f;
  opacity: 0.2;
  top: 0;
  left: 0;
  display: block;
  content: "";
}

/**Header text*/
#welcome-header div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

/**Header text positioning*/
#welcome-header div h3:nth-of-type(1) {
  margin-right: 37%;
}

#welcome-header div h3:nth-of-type(2) {
  margin-left: 30%;
}
/*#endregion*/

/** About me */
/*#region*/
#about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
  outline: var(--highlight-color) 5px solid;
  padding-bottom: 8vh;
}

/**Text*/
#about > div {
  width: 45vw;
}

/**Portrait*/
#about > img {
  height: 100%;
  width: auto;
  aspect-ratio: 10/14;
  border-radius: 50px;
}
/*#endregion*/

/** Timeline */
/*#region*/
#timeline {
  overflow: hidden;
  background-color: var(--second-bg-color);
}

/**Scroll progress bar */
#timeline progress {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 100vw;
  height: 5px;
  border: none;
  background: transparent;
}

#timeline progress::-webkit-progress-bar {
  background: transparent;
}

#timeline progress::-webkit-progress-value {
  background-color: var(--highlight-color);
}

/**Timeline date text*/
#timeline h2 {
  font-size: 20vmax;
  text-align: center;
  transform: rotateZ(-90deg);
}

/* Date and end text center */
#timeline h2,
h3 {
  align-self: center;
}

/**Projects container */
#projects {
  display: flex;
}

#projects .header {
  align-self: flex-start;
  font-size: 2.5vmax;
}

/**Project section */
#projects div {
  align-self: flex-start;
  min-width: 30vmax;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5vh 2vw;
}

/**Project image*/
#projects div img {
  aspect-ratio: 16/9;
  width: 100%;
  border-radius: 50px;
  margin: 2vh 0;
}

/**Admin add project form*/
/*#region*/
/* Input styles */
input,
select {
  font-size: 1vmax;
  width: 100%;
  padding: 0.9vw 1vw;
  margin: 0.5vw 0;
  background-color: var(--second-bg-color);
  color: var(--main-text-color);
  border: none;
  border-radius: 10px;
}

/* Outline on focus/click */
input:focus {
  outline: 2.5px solid var(--highlight-color);
}

/* Submit  */
input[type=submit] {
  background-color: var(--highlight-color);
  cursor: pointer;
}

input[type=submit]:focus{
  outline: none;
}

input[type=submit]:hover {
  background-color: var(--second-bg-color);
  border: 2.5px solid var(--highlight-color);
}
/*#endregion*/

/*#endregion*/

/**Footer*/
/*#region*/
footer {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

/**Footer halves*/
footer > div {
  width: 50%;
  padding: 0.5vw 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/**Main footer text*/
footer p {
  width: 80%;
}

/**Footer links container */
footer .contact-stack {
  margin-bottom: 3vw;
}

/**Footer link*/
footer .contact-stack > a {
  color: var(--main-text-color);
  fill: var(--main-text-color);

  display: flex;
  width: 410px;
  align-items: center;

  font-family: Inter;
  font-size: 1.5vw;
  text-decoration: none;
  text-align: center;
}

/**Footer link svg*/
footer .contact-stack > a svg {
  width: 3vw;
  height: 3vw;
  margin-right: 3vw;
}

/**Links hover */
footer .contact-stack > a:hover {
  fill: var(--highlight-color);
  color: var(--second-text, #8f8f8f);
}

/**Half screen image */
footer > :last-child {
  width: 70%;
  aspect-ratio: 17/10;
  background-image: url(images/footer.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  justify-content: flex-end;
  align-items: flex-start;

  padding: 0;
}

footer > :last-child h4 {
  font-size: 1vw;
}
/*#endregion*/

/**Color mode*/
/*#region*/
@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: #bec7c7;
    --second-bg-color: #d4d8d8;
    --highlight-color: #2a9d8f;
    --main-text-color: #000;
    --second-text-color: #000;
  }
}
/*#endregion*/